
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald)
html {
  height: 100%;
  background-color: #f8f8f8;
}

body {
  overflow: hidden;
  height: 100%;
  width: auto;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #555555;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1 {
  text-color: lightblue;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
li{
 text-decoration:none;
}
.modal-dialog{
min-height:600px !important;
max-width: 600px !important;
}
.modal-content {
min-height:600px !important;
width: 135%!important;
}

p {
  text-align:left;
  font-family: verdana;
      font-size: .5em !important;
 
}
input[type=checkbox] {
  position: absolute;
   top: -9999px;
   left: -9999px;
}
label { 
  text-decoration: none;
  -webkit-appearance: push-button;
  -moz-appearance: button; 
  cursor: pointer;
}
iframe {
height:500px !important ;
}

iframe:focus { 
  outline: none;
}

iframe[seamless] { 
  display: block;
}

