</button>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#KB4">
Windows  Ouverture de session en chec
</button>
<!-- Button FIN-->
<!-- TRY TRY daze !  -------------------------------------------------------------------------------->


<!-- -------------------------------------------------------------------------------->
<!-- Modal 1-->
<div class="modal fade" id="KB4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">(Hors DRS) RESET MDP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <iframe height=550px  src="ressource/Windows  Comment faire la Rinitialisation du mot de passe ( HORS DRS ) .htm" class="modal-body">
      </iframe>
      <div class="modal-footer">
        <a href="ressource/Windows  Comment faire la Rinitialisation du mot de passe ( HORS DRS ) .htm" target="blank"><button type="button" class="btn btn-primary">Zoom</button></a>
      </div>
    </div>
  </div>
</div> 